@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

*{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    transition: all ease .5s;
    border: none;
    scroll-behavior: smooth;
    outline: none;
}
button
{
    background-color: transparent;
}
a{
    color:black
}

.content
{
    padding: 0 12px   ;
}


/* style header */
.header
{
    padding: 3px;
}

.header__content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
}

.logo__img
{
    width: 100px;
}
.header__nav
{
    width: 50%;
}
.nav
{
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    height: 100%;
}
.nav__item
{
    padding: 10px;
    border-bottom: 4px solid transparent;
    /* width: 100%; */
    text-align: center;
    font-size: 1rem;
}
.nav__item:hover 
{
    color: #0065FC;
    border-bottom: 4px solid #0065FC;

}
.nav__item:hover  .nav__link{
    color: #0065FC;
}

.header__title
{
    font-size: 20px;
    font-weight: bolder;
}
.header__text
{
    font-weight: 300;
}
/* end style header */



/* start style filter */
.travel__filter
{
    padding: 2% 0 2% 0;
}
.filter__search-bar
{
    display:flex;

}
.search-bar__map
{
    padding: 14px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.search-bar__input
{
    outline: none;
    padding: 1%;
}
.search-bar__input::placeholder
{
    font-weight: bolder;
    color: black;
}
.search-bar__button
{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;

}
.search-bar__button.sm{
        display: none;
    }

.options__title{
    padding: 12px 0px;
}
.options__group
{
    padding:2% 0 2%;
    display: flex;
    gap: 13px;
    align-items: center;
    flex-wrap: wrap;
}
.option{
    display: flex;
    border: 2px solid #F2F2F2;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}
.option::after
{
    content: "";
    position: absolute;
    left: 5px;
    width: 0;
    height: 100%;
    border-radius: 25px;
    display: block;
    transition: width .6s ease-in-out;
}
.option:hover::after
{
    background-color: #DEEBFF;
    width: 100%;
    z-index: -1000;
}
.option:hover .option__text
{
    color: #0065FC;
}
.option span 
{
    padding: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.option span i
{
    color: #0065FC;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: large;
}
.option__button
{
    padding: 14px;

}
.filter__info
{
    display: flex;
    gap: 1.5%;
    align-items: center;
}
.snip-logo
{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 05px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-info
{
    color: #0065FC;
    font-size: 10px;    
}
.filter__text 
{
    font-weight: light;
}

/* end style filter */



/* style result__country */

.logements__results
{
    display: flex;
    flex-direction: column;
    gap:2%;
}

.result__country
{
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}
.hebergement{

    padding: 25px;
    background-color: #F2F2F2;
    width: 57%;
    gap:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}
.hebergement__title, .popular__title
{
    padding-bottom:20px ;
}
.hebergement__cardHeb
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.hebergement__plus
{
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}
.hebergement__plus:hover
{
    color: #0065FC;
}
.cardheb__item {
    width: 30%;
}
.cardHeb__item__title
{
    font-size: 18px;
}
.item__description
{
    font-size: 15px;
    font-weight: lighter;
}


.shadow
{
    box-shadow: 4px 4px 7px rgba(0,0,0,.2);}
.cardHeb__item__content
{
    padding: 5px;
    border-radius: 13px;
    background-color: white;
    display: block;
}
.cardHeb__item__img
{
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.star{
    padding: 5px;
}
.fa-star
{
    color: #aea9a9;
}
.checked
{
    color: blue;
}
.price
{
    color: black;
    font-weight: 700;
}
/* creer un style article */


/* end style result__country */




/* style section popular */

.popular
{
    padding: 20px;
    background-color: #F2F2F2;
    width: 33%;
    border-radius: 13px;
}
.popular__content
{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    flex-direction: column;
}
.popular__info
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}
.black-star{
    color: black;
}
.popular__cardPop
{
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardPop__content
{
    display: flex;
    background-color: white;
    padding: 5px;
    width: 100%;
    border-radius: 13px;
}
.cardPop__img
{
    width: 170px;
    height: 120px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.cardPop__text
{
    padding: 7px;
}
/* end section popular */


/* start section activities */
.activities
{
    padding-top: 30px;
}
.activities__title
{
    padding: 15px 0 15px 0;
}
.activities__content
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.quarter
{
    flex: 1 0 22%;
}
.radius{

    overflow: hidden;
    border-radius: 14px;
}

.cardAct__img
{
    height: 450px;
}
.img_effect
{
    /* border-top-left-radius: 14px;
    border-top-right-radius: 14px; */
    object-fit: cover;
}
.cardAct__title
{
    padding: 25px;
}
.cardAct__group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardAct__img_g1-1{
    height: 160px;
}
.cardAct__img_g1-2
{
    height: 120px;
}
.w-100
{
    width: 100%;
}
.cardAct__img__g2-1
{
    height:120px ;
}
.cardAct__img__g2-2
{
    height: 200px;
}



/* end section activities */



/* start footer style */
.footer
{
    margin-top: 40px;
    background-color: #F2F2F2;
}
.footer__content
{
    padding: 22px;
    display: flex;
    width: 70%;
    gap: 38px;
    justify-content: space-between;
    align-items: center;
}
.footer__items__title
{
    padding: 12px 12px 12px 0;
}
.footer__item{
    padding: 5px 5px 5px 0;
}

/* end footer style */


/* responsive */
@media screen and (max-width:425px) {
    .content,.header__content,.travel
    {
        padding: 0;
    }
    .header__title{
        font-size: 1.3rem;
        font-weight: bolder;
    }
    .header__description,.filter__info,.filter__options, .activities{
        padding: 15px;
    }
    .header__title{
        line-height: 1.5rem;
        letter-spacing: .1rem;
    }
    .header__content
    {
        flex-direction: column;
        justify-content: space-between;
        height: 105px;
    }
    .header__nav
    {
        width: 100%;
    }
    .nav
    {
        justify-content: space-between;
        gap:0px;
    }
    .nav__item{

        width: 50%;
        border-bottom: 4px solid #F2F2F2;

    }
    .search-bar{
        padding: 0 15px;
    }
    .search-bar__map,.search-bar__button{
        padding: 20px;
    }
    .search-bar__input{
        width: 100%;
    }
    .search-bar__button.large{
        display:none;
    }
    .search-bar__button.sm{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
    }
    .fa-magnifying-glass,.fa-location-dot{
        font-size: 1.2rem;
    }
    .filter__info
    {
        padding: 13px 0 13px;
        align-items: flex-start;
    }
    .popular
    {
        order: 2;
        padding: 15px;
    }
    .popular__cardPop{
        gap: 13px;
    }
    .cardPop__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cardPop__content{
        width: 96%;
        border-radius: 17px;
    }
    .cardPop__title
    {
        font-size: 1rem;
    }
    .item_description{
        padding: 10px 0px;
    }
    .cardPop__img
    {
        width: 120px;
    }
    .hebergement{
        order:3;
        background-color: transparent;
        padding: 15px;
    }
    .hebergement, .popular{
        width: 100%;
        border-radius: 0;

    }
    .quarter{
        flex: 1 0 100%;
    }
    .cardheb__item{
        width: 100%;
    }
    .cardAct__group{
        gap: 20px;
    }
    .img_effect{
        height: 140px;
    }
    .footer__content
    {
        flex-direction: column;
        /* width: 100%; */
        align-items: flex-start;
    }
    .footer__items__title{
        font-size: 1.1rem;
    }


}
